.button_hover,.animation,.slick-slide{
  transition: .5s all ease;
}
.button_hover:hover,.slick-slide:hover{
  transform: scale(1.05);
}
.shoplist{
  align-items: flex-end;
  justify-content: flex-end;
}
.shoplist::after{
  content: 'Sepete Ekle';
  display: block;
  width: fit-content;
  padding:  .5rem 1.5rem;
  background: #f56565;
  cursor: pointer;
  position: absolute;
  border-radius: 5px 5px 0 0;
}
