.public-page .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  outline: none;
}
.public-page .switch input {
  position: absolute;
  top: -99999px;
  left: -99999px;
}
.public-page .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ddd;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}
.public-page .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}
.public-page .switch input:checked + .slider {
  background-color: #e53e3e;
}
.public-page .switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.public-page .slick-list,.slick-track{
  cursor: pointer;
  overflow: visible!important;
}
.public-page .slick-track{
  margin:2rem;
}
.public-page .slick-slide.slick-active>div>div:focus{
  outline:none;
}
.public-page .slick-arrow.slick-prev{
  z-index: 4;
  transform: translateX(-4rem);
}
.public-page .slick-arrow.slick-prev:before{
  content: '<';
  border-radius: 100%;
  padding:1.5rem;
  padding-left: 2rem;
  background:black;
  font-weight: 700;
}
.public-page .slick-arrow.slick-next{
  z-index: 4;
  transform: translateX(1rem);
}
.public-page .slick-arrow.slick-next:before{
  content: '>';
  border-radius: 100%;
  padding:1.5rem;
  padding-right: 2rem;
  background:black;
  font-weight: 700;
}
.comments-page .slick-dots{
  position: relative!important;
}
.comments-page .slick-dots>li{
  height: unset!important;
  width: unset!important;
  margin: 0 10px;
}
.comments-page .slick-dots>li>button{
  height: unset!important;
  width: unset!important;
  padding: unset!important;
}
.comments-page .slick-dots>li>button:before{
  position: relative;
  height: 1rem;
  width: 1rem;
  line-height: 1rem;
  font-size: 1rem;
  color: #f56565;
}
.comments-page .slick-dots>li.slick-active>button:before{
  color: #9b2c2c;
}
